.movie {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  margin-bottom: 80px;

  .text-label {
    margin-bottom: 10px;
  }

  &__info {
    display: flex;
    flex-flow: column;
    width: 40.27vw;
    margin-right: 6.94vw;
  }

  &__meta, &__rating, &__title, &__plot, &__details {
    margin: 20px 0;
  }

  &__meta {
    color: var(--text-secondary);
    margin-bottom: 0;

    .text-label {
      &:not(:last-child):after {
        content: '·';
        padding: 0 8px;
      }
    }

  }

  &__rating {
    display: flex;

    > div {
      margin-right: 16px;
    }
  }

  &__title {
    font-size: 6rem;
    color: var(--white);
    letter-spacing: 0.87px;
    line-height: 88px;
  }

  &__details {
    display: flex;
    justify-content: space-between;

    &-item {
      ul {
        display: flex;
        flex-flow: column;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          font-size: 16px;
          letter-spacing: 0.17px;
          line-height: 24px;
        }
      }
    }
  }

  &__poster {
    width: 33.33vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--light-grey);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 0.75;
    box-shadow: 0 4px 30px 0 rgba(5, 10, 13, 0.60);

    @supports not (aspect-ratio: auto) {
      padding-top: 54%;
      height: 0;
      position: relative;
      overflow: hidden;
    }
  }

  @media only screen and (max-width: 900px) {
    flex-flow: column;

    h1 {
      font-size: 60px;
      letter-spacing: 0.60px;
      line-height: 60px;
    }

    &__info, &__poster {
      width: 100%;
    }

    &__info {
      margin-right: 0;
    }

    &__poster {
      margin-top: 30px;
    }
  }
}