.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #fff;
  border-radius: 5px;
  padding: 12px;

  &--disabled {
    background: var(--grey);

    input {
      color: var(--mid-grey);
      background: var(--grey);

      &::placeholder {
        color: var(--mid-grey);
      }
    }
  }

  svg {
    margin-right: 12px;

    path, circle {
      stroke: var(--light-grey)
    }
  }

  input {
    font-size: 16px;
    color: var(--dark);
    letter-spacing: 0.17px;
    width: 100%;
    border: 0;
    padding: 0;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--light-grey);
    }
  }
}