@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import '../node_modules/normalize.css';

:root {
  --yellow: #ff9e1c;
  --red: #fe403f;
  --green: #2dc4b6;
  --dark: #0A1014;
  --grey: #1c2328;
  --mid-grey: #353f4c;
  --light-grey: #798b99;
  --white: #fff;

  --background-color: var(--dark);

  --text-color: var(--white);
  --text-secondary: var(--light-grey);
  --text-highlight: var(--yellow);
  --text-danger: var(--red);
  --text-success: var(--green);
  --text-disabled: var(--mid-grey);

  --font-family: 'Roboto', sans-serif;

  --font-size-xsmall: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-base: 1.3333rem;
  --font-size-medium: 1.6667rem;
  --font-size-large: 2rem;
  --font-size-xlarge: 6.6667rem;

  --font-letter-spacing-base: 0.0133rem;
  --font-letter-spacing-medium: 0.0167rem;
  --font-letter-spacing-large: 0.0167rem;
  --font-letter-spacing-xlarge: 0.0667rem;

  --font-line-height-base: 1;
  --font-line-height-medium: 1.1;
  --font-line-height-large: 1.5;
  --font-line-height-xlarge: 7.3333rem;

  --font-weight-base: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight-base);
  font-size: 16px;
  letter-spacing: 0.17px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  outline: none;
  background: none;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-medium);
  line-height: var(--font-line-height-medium);
  letter-spacing: var(--font-letter-spacing-medium);
}

h2 {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  line-height: var(--font-line-height-medium);
  letter-spacing: var(--font-letter-spacing-medium);
}

.layout {
  display: grid;
  max-width: 81.94vw;
  margin: 0 auto;
}

header {
  padding: 24px 0;
}